Ask questions to the YouTube video.json
{
  "name": "Ask questions to the YouTube video",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        -160
      ],
      "id": "38c5aa9c-5b23-4282-97b2-f0baf399c74c",
      "name": "When chat message received",
      "webhookId": "da84692f-1e5f-4e57-ab82-c6edd5690f2a"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "youtube_rag",
          "mode": "list",
          "cachedResultName": "youtube_rag"
        },
        "prompt": "={{$json.chatInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -144,
        -160
      ],
      "id": "21efdd13-3737-445f-99e2-8c8b094236bd",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ujqqnkqH3qSVku9D",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        16
      ],
      "id": "0f5c2b37-df34-41b2-8cc0-db7bd835279a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LJRJwEeAyzGYpj1S",
          "name": "main API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a YouTube video learning assistant.\n\nUse ONLY the transcript context below to answer.\n\nUser Question:\n{{ $json.question }}\n\nTranscript Context:\n{{ $json.context }}\n\nGive one clear, detailed, beginner-friendly answer.\n\nIf the user asks:\n\"What is this video about?\"\nthen explain:\n- the main topic\n- what is being taught\n- key ideas discussed\n- what someone can learn from the video\n\nDo not mention chunks or retrieval.\n\nIf the answer truly does not exist in the transcript, say:\n\"I could not find that in the transcript.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        -160
      ],
      "id": "8a220764-298c-4178-abd6-390e1163e801",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        16
      ],
      "id": "3a660406-4872-438c-88c9-ea5b7bddd5e6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LJRJwEeAyzGYpj1S",
          "name": "main API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const question = $('When chat message received').first().json.chatInput;\n\nconst chunks = items.map((item, index) => {\n  let text = \"\";\n\n  if (item.json.pageContent) {\n    text = item.json.pageContent;\n  } else if (item.json.document?.pageContent) {\n    text = item.json.document.pageContent;\n  } else if (item.json.response?.[0]?.text) {\n    try {\n      const parsed = JSON.parse(item.json.response[0].text);\n      text = parsed.pageContent;\n    } catch (e) {\n      text = item.json.response[0].text;\n    }\n  } else {\n    text = JSON.stringify(item.json);\n  }\n\n  return `Chunk ${index + 1}:\\n${text}`;\n});\n\nreturn [\n  {\n    json: {\n      question,\n      context: chunks.join(\"\\n\\n---\\n\\n\")\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -160
      ],
      "id": "d751bed7-51ed-4e49-a45d-83357b975e67",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        []
      ],
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ddfec8e2-3b07-4d41-8a2a-c4d559da0ce1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4518c64eb9180e460b9626661124584bcc65f7380a92a77be9504db062a6324e"
  },
  "id": "weaUS1NjWLCXcn7G",
  "tags": []
}